<%= simple_nested_form_for(profile) do |f| %>
  <%= f.error_notification %>
  
      
      <div class="row">
        <div class="col-md-6">
          <%= f.input :first_name, autofocus: true %>
        </div>
        <div class="col-md-6">
          <%= f.input :last_name %>
        </div>
      </div>
      <%= f.input :email %>
      <%= f.input :year, label: 'Age', collection: ['18-21', '22-26', '27-35', '35+', 'Year 7', 'Year 8', 'Year 9', 'Year 10', 'Year 11', 'Year 12'], include_blank: false %>
      <%= f.input :gender, collection: ['Female', 'Male', 'Non-binary / Third gender', 'Prefer not to say'], include_blank: false %>
  
  <div class="actions">
    <%= f.submit 'Start the quiz', class: 'btn btn-success' %>
  </div>
<% end %>
